{#{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('admin/admin_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_user_index') }}">back to list</a>

    {{ include('admin/admin_admin/_delete_form.html.twig') }}
{% endblock %}#}

{% extends 'base-admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <div class="container mt-5 pt-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h1 class="h3 mb-2 text-gray-800">Create new User</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form-row">
                            {{ include('admin/layout/_form_user.html.twig', {'button_label': 'Update'}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
