{% extends 'base-admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste Administrateur</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Login</th>
                            <th>Telephone</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>Pays</th>
                            <th>DateDeNaissance</th>
                            <th class="text-center">actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td class="nowrap">{{ user.email }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.login }}</td>
                            <td class="nowrap">{{ user.telephone }}</td>
                            <td>{{ user.adresse }}</td>
                            <td>{{ user.ville }}</td>
                            <td>{{ user.pays }}</td>
                            <td class="nowrap">{{ user.dateDeNaissance ? user.dateDeNaissance|date('Y-m-d') : '' }}</td>
                            <td class="nowrap">
                                <a class="btn btn-primary show-user text-white" data-user ="{{ user.id }}" data-origin="admin" {#href="{{ path('admin_user_show', {'id': user.id}) }}"#}>show</a>
                                <a  class="btn btn-success text-white"  href="{{ path('admin_admin_edit', {'user': user.id}) }}">edit</a>
                                <a  class="btn btn-danger delete-user text-white" data-user ="{{ user.id }}" data-origin="admin">Effacer</a>
                            </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="13">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ include("admin/layout/_update_user.html.twig") }}
    {{ include("admin/layout/_modal_delete_user.html.twig") }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_user') }}
{% endblock %}
